<section class="about">
    <div class="container">
        <h2>
            About
        </h2>
        <span class="seperator"> </span>
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="about__image img-container">
                    <img src="https://picsum.photos/400/400" alt="my image" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="about__contener">
                    <h3>about me</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi excepturi temporibus dignissimos, quos velit numquam aspernatur. Quidem, minima deserunt id nam quibusdam ipsa perspiciatis consectetur reprehenderit, at molestias, eos cumque?</p>
                    <div class="about__list">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <ul>
                                    <li><i class="fa fa-chevron-right" aria-hidden="true"> Lorem, ipsum dolor.</i></li>
                                    <li><i class="fa fa-chevron-right" aria-hidden="true"></i> Lorem, ipsum dolor.</li>
                                    <li><i class="fa fa-chevron-right" aria-hidden="true"></i> Lorem, ipsum dolor.</li>
                                    <li><i class="fa fa-chevron-right" aria-hidden="true"></i> Lorem, ipsum dolor.</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <li><i class="fa fa-chevron-right" aria-hidden="true"> Lorem, ipsum dolor.</i></li>
                                <li><i class="fa fa-chevron-right" aria-hidden="true"></i> Lorem, ipsum dolor.</li>
                                <li><i class="fa fa-chevron-right" aria-hidden="true"></i> Lorem, ipsum dolor.</li>
                                <li><i class="fa fa-chevron-right" aria-hidden="true"></i> Lorem, ipsum dolor.</li>
                            </div>

                        </div>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quia delectus obcaecati nisi minima repellendus exercitationem atque ad, doloribus quaerat debitis impedit praesentium amet hic ducimus fugit odio corrupti voluptas magnam consequatur veniam et? Fuga cum odit velit sunt molestiae consequuntur accusantium repudiandae sit laudantium.</p>
                </div>
            </div>

        </div>
    </div>
</section>