<section class="resume" id="resume">
        <div class="resume__skills">
            <div class="container">
                <h2>
                    skills
                </h2>
                <span class="seperator"></span>
                    <ul class="d-flex">
                        <li>
                            <i class="devicon-angularjs-plain"></i>
                        </li>
                        <li>
                            <i class="devicon-react-original"></i>
                        </li>
                        <li>
                            <i class="devicon-firebase-plain"></i>
                        </li>
                        <li>
                            <i class="devicon-github-original"></i>
                        </li>
                    </ul>
            </div>

        </div>
        <div class="resume__ details">
            <div class="container">
                <h2>Resume</h2>
                <span class="seperator"></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo minus aspernatur repellendus! Corrupti, nesciunt deserunt consectetur, dolorem, dignissimos dicta nihil ut repellat pariatur totam cum.</p>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h2>Sumery</h2>
                        <div class="resume__resume-item">
                            <h3>Oriya Nakash</h3>
                            <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus exercitationem placeat reiciendis hic natus cumque!</i>
                            <ul>
                                <li>Email:oriya@gmail.com</li>
                                <li>Phon:0534442540</li>
                                <li>ID:212043657</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12"></div>

                </div>
            </div>
        </div>

</section>
